<%- include("partials/header.ejs") %>

<h2>Name: </h2>
<p><%= ourName %></p>

<h2>Temperature:</h2>
<p><%= temperature %> °C (Without A/C)</p>

<h2>Humidity:</h2>
<p><%= humidity %> %</p>

<h2>Status: </h2>
<p><%= ourStatus %></p>

<h2>Occupants: </h2>
<p><%= ourOccupants %></p>


<%- include("partials/footer.ejs") %>
